/* Fonts */
@font-face {
  font-family: Good Sans Light;
  font-weight: 300;
  src: url("../fonts/good-sans/light.otf");
  font-display: swap;
}
@font-face {
  font-family: Good Sans Regular;
  font-weight: 500;
  src: url("../fonts/good-sans/regular.otf");
  font-display: swap;
}
@font-face {
  font-family: Good Sans Bold;
  font-weight: 700;
  src: url("../fonts/good-sans/bold.otf");
  font-display: swap;
}
@font-face {
  font-family: Good Sans Black;
  font-weight: 900;
  src: url("../fonts/good-sans/black.otf");
  font-display: swap;
}

/* Variables */
:root {
  /* Fonts */
  --font-light: "Good Sans Light", sans-serif;
  --font-regular: "Good Sans Regular", sans-serif;
  --font-bold: "Good Sans Bold", sans-serif;
  --font-black: "Good Sans Black", sans-serif;

  /* Colors */
  --color-primary: #727fd6;
  --color-secondary: #d68dea;
  --color-tertiary: #a382e6;
  --color-dark: #19191b;
  --color-light: #ffffff;

  /* Shadows */
  --text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  --box-shadow: 0 0 10px 10px #00000024;
}

*,
body {
  margin: 0;
  padding: 0;
  font-family: Good Sans Regular;
  box-sizing: border-box;
}
body {
  background-color: var(--color-dark);
  color: var(--color-light);
  overflow-x: hidden;
  width: 100%;
}
img,
video {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Good Sans Bold;
}
p {
  font-family: Good Sans Regular;
  margin: 0;
}
a {
  font-family: Good Sans Regular;
  text-decoration: none;
}

/* Spacing */
.mb-10 {
  margin-bottom: 60px;
}

/* Button */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px 15px;
  background: linear-gradient(
    -45deg,
    var(--color-primary),
    var(--color-secondary) 45%,
    var(--color-primary)
  );
  background-size: 150%;
  color: var(--color-light);
  border-radius: 100px;
  font-family: Good Sans Black;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease;
  cursor: pointer;
  border: none;
  outline: none;
}
.button:hover {
  background-position: 100%;
}
.button i {
  font-size: 18px;
}
.button-lg {
  font-size: 16px;
  padding: 10px 20px;
}
.button-lg i {
  font-size: 24px;
}
/* Section */
.section {
  position: relative;
  z-index: 1;
  padding: 150px 0;
  width: 100%;
}
.container {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.container-fluid {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

/* Heading */
.heading {
  text-align: center;
  font-family: Good Sans Bold;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  color: var(--color-tertiary);
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease;
  border: none;
  outline: none;
  text-shadow: var(--text-shadow);
}
.sub-heading {
  font-family: Good Sans Regular;
  font-size: 20px;
  color: var(--color-light);
  text-shadow: var(--text-shadow);
}

/* Text Color */
.text-primary {
  color: var(--color-primary) !important;
}
.text-secondary {
  color: var(--color-secondary) !important;
}
.text-tertiary {
  color: var(--color-tertiary) !important;
}
.text-dark {
  color: var(--color-dark) !important;
}
.text-light {
  color: var(--color-light) !important;
}

/* Background Color */
.bg-primary {
  background-color: var(--color-primary) !important;
}
.bg-secondary {
  background-color: var(--color-secondary) !important;
}
.bg-tertiary {
  background-color: var(--color-tertiary) !important;
}
.bg-dark {
  background-color: var(--color-dark) !important;
}
.bg-light {
  background-color: var(--color-light) !important;
}

/* Animations */
@keyframes scroll {
  0% {
    transform: translateX(calc(-400px * 6));
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes scale {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
  }
}
@keyframes float {
  0% {
    transform: translate(-50%, -50%) translateY(0);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-10px);
  }
  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes floatAlternate {
  0% {
    transform: translate(-50%, -50%) translateY(0);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-10px);
  }
  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
}
@keyframes rotateGradient {
  to {
    background: linear-gradient(
      405deg,
      var(--color-primary),
      var(--color-secondary),
      var(--color-tertiary),
      var(--color-primary)
    );
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Patterns */
.glow {
  --color: var(--color-secondary);
  position: absolute;
  width: 1500px;
  height: 1500px;
  border-radius: 50%;
  background: radial-gradient(
    circle at center,
    var(--color),
    transparent,
    transparent
  );
  filter: blur(100px);
  opacity: 0.5;
  z-index: -1;
  pointer-events: none;
}
.dot {
  --color: var(--color-secondary);
  --size: 20px;
  --animation: float;

  position: absolute;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--color);
  box-shadow: 0 0 var(--size) var(--color);
  z-index: 1;
  animation: blink 3s ease-in-out infinite;
  pointer-events: none;
}
