/* Fonts */
@font-face {
  font-family: Good Sans Light;
  font-weight: 300;
  src: url("../fonts/good-sans/light.otf");
  font-display: swap;
}
@font-face {
  font-family: Good Sans Regular;
  font-weight: 500;
  src: url("../fonts/good-sans/regular.otf");
  font-display: swap;
}
@font-face {
  font-family: Good Sans Bold;
  font-weight: 700;
  src: url("../fonts/good-sans/bold.otf");
  font-display: swap;
}
@font-face {
  font-family: Good Sans Black;
  font-weight: 900;
  src: url("../fonts/good-sans/black.otf");
  font-display: swap;
}

/* Variables */
:root {
  /* Fonts */
  --font-light: "Good Sans Light", sans-serif;
  --font-regular: "Good Sans Regular", sans-serif;
  --font-bold: "Good Sans Bold", sans-serif;
  --font-black: "Good Sans Black", sans-serif;

  /* Colors */
  --color-primary: #727fd6;
  --color-secondary: #d68dea;
  --color-tertiary: #a382e6;
  --color-dark: #19191b;
  --color-light: #ffffff;

  /* Shadows */
  --text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

*,
body {
  margin: 0;
  padding: 0;
  font-family: Good Sans Regular;
}
body {
  background-color: var(--color-dark);
  color: var(--color-light);
  overflow-x: hidden;
}
img,
video {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Good Sans Bold;
}
p {
  font-family: Good Sans Regular;
  margin: 0;
}
a {
  font-family: Good Sans Regular;
  text-decoration: none;
}

/* Spacing */
.mb-10 {
  margin-bottom: 100px;
}
.mb-15 {
  margin-bottom: 150px;
}

/* Button */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  background: linear-gradient(
    -45deg,
    var(--color-primary),
    var(--color-secondary) 45%,
    var(--color-primary)
  );
  background-size: 150%;
  color: var(--color-light);
  border-radius: 100px;
  font-family: Good Sans Black;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease;
  cursor: pointer;
  border: none;
  outline: none;
}
.button:hover {
  background-position: 100%;
}
.button i {
  font-size: 18px;
}
.button-lg {
  font-size: 18px;
  padding: 15px 30px;
}
.button-lg i {
  font-size: 24px;
}
/* Section */
.section {
  position: relative;
  z-index: 1;
  padding: 250px 0;
  overflow: hidden;
}

/* Heading */
.heading {
  text-align: center;
  font-family: Good Sans Bold;
  font-size: 40px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  color: var(--color-tertiary);
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease;
  border: none;
  outline: none;
  text-shadow: var(--text-shadow);
}
.sub-heading {
  font-family: Good Sans Regular;
  font-size: 30px;
  color: var(--color-light);
  text-shadow: var(--text-shadow);
}

/* Text Color */
.text-primary {
  color: var(--color-primary) !important;
}
.text-secondary {
  color: var(--color-secondary) !important;
}
.text-tertiary {
  color: var(--color-tertiary) !important;
}
.text-dark {
  color: var(--color-dark) !important;
}
.text-light {
  color: var(--color-light) !important;
}

/* Background Color */
.bg-primary {
  background-color: var(--color-primary) !important;
}
.bg-secondary {
  background-color: var(--color-secondary) !important;
}
.bg-tertiary {
  background-color: var(--color-tertiary) !important;
}
.bg-dark {
  background-color: var(--color-dark) !important;
}
.bg-light {
  background-color: var(--color-light) !important;
}
