@import "./root.css";

/* Navigation */
.navigation {
  background-color: var(--color-dark);
  padding: 20px 0;
  position: relative;
  z-index: 10;
}
.navigation .navbar-brand-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navigation .navbar-brand {
  width: 150px;
  display: inline-block;
}

/* Hero Section */
.hero {
  position: relative;
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  z-index: 1;
}
.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.hero .container {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 100px 0;
}
.hero .title {
  position: relative;
  z-index: 1;
  text-align: center;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.hero .title img {
  width: 100%;
}
.hero .title p {
  font-family: Good Sans Light;
  font-size: 26px;
  text-align: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
}
.hero .title p img {
  width: 200px;
}
.hero .sub-heading {
  max-width: 768px;
  margin: 0 auto;
  font-family: Good Sans Regular;
  font-size: 20px;
}
.hero .stats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.hero .stats .item {
  padding: 2px;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .stats .item span {
  font-family: Good Sans Regular;
  font-size: 24px;
  color: var(--color-light);
  text-shadow: var(--text-shadow);
  background: var(--color-dark);
  padding: 3px 10px;
  border-radius: 10px;
}
.hero .gradient-border-badge {
  position: relative;
  display: inline-flex;
  border-radius: 50px;
  background: transparent;
  isolation: isolate;
  overflow: hidden;
}
.hero .gradient-border-badge::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 2px;
  background: linear-gradient(
    45deg,
    var(--color-primary),
    var(--color-secondary),
    var(--color-tertiary),
    var(--color-primary)
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: rotateGradient 3s linear infinite;
  z-index: 0;
}
.hero .gradient-border-badge .content {
  position: relative;
  background: transparent;
  padding: 7px 15px;
  border-radius: 48px;
  color: var(--color-light);
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1;
}
.hero .gradient-border-badge .content i {
  width: 15px;
  height: 15px;
  background: var(--color-secondary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: blink 1s linear infinite;
}
.hero .gradient-border-badge .content span {
  font-family: Good Sans Regular;
  font-size: 16px;
  color: var(--color-light);
  text-shadow: var(--text-shadow);
}

/* About Section */
.about {
  padding-top: 250px;
  position: relative;
}
.about .partners-section {
  position: absolute;
  z-index: 2;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .partners-wrapper {
  width: 95%;
  max-width: 1000px;
  border-radius: 10px;
  padding: 2px;
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
  overflow: hidden;
}
.about .partners {
  border-radius: 10px;
  background: var(--color-dark);
  padding: 30px 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.about .partners .title {
  width: 100%;
  max-width: 150px;
  margin: 0 20px 0 auto;
  padding: 25px 20px 25px 25px;
}
.about .partners .title img {
  width: 100%;
}
.about .partners .items {
  min-width: 330px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border-left: 1px solid #aeaeae;
  padding: 10px 25px;
  align-self: flex-start;
}
.about .partners h5 {
  font-family: Good Sans bold;
  font-size: 18px;
  color: var(--color-tertiary);
  margin-bottom: 20px;
  text-align: left;
}
.about .partners .items:first-of-type {
  flex-direction: column;
}
.about .partners .logos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  white-space: nowrap;
}
.about .partners .logos.logos-column {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.about .partners .logos img {
  height: 27px;
  object-fit: contain;
  object-position: center;
}
.about .partners .logos img:nth-child(1) {
  height: 20px;
}
.about .partners .logos img:nth-child(3) {
  height: 30px;
}
.about .partners .logos img:nth-child(5) {
  height: 25px;
}
.about .partners .logos.logos-column img:nth-child(1) {
  height: 15px;
}
.about .partners .logos.logos-column img:nth-child(2) {
  height: 60px;
}
.about .mobile-display {
  display: none;
}
.about .dot.dot-1 {
  top: 200px;
  right: 50px;
  --color: var(--color-secondary);
  --size: 20px;
  --animation: floatAlternate;
}
.about .dot.dot-2 {
  top: 100px;
  right: 50px;
  --color: var(--color-secondary);
  --size: 10px;
  --animation: float;
}
.about .glow {
  top: -500px;
  right: -700px;
  --color: var(--color-primary);
}
.about .heading {
  text-align: center !important;
  margin: 0 auto;
}
.about .text {
  padding-top: 30px;
}
.about p {
  font-family: Good Sans Regular;
  font-size: 20px;
}
.about .image-wrapper {
  position: relative;
  width: 100%;
  text-align: center;
}
.about .image-wrapper::after {
  content: "";
  position: absolute;
  top: 35px;
  left: -35px;
  width: 70px;
  height: 70px;
  background: var(--color-secondary);
  z-index: -1;
  border-radius: 50%;
  filter: blur(10px);
  opacity: 0.5;
  transition: all 0.5s ease;
}
.about .image-wrapper .image-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
}
.about .image-wrapper {
  --angle: 45deg;
}
.about .image-wrapper .image-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 77%;
  border-radius: 10px;
  z-index: 0;
  background: linear-gradient(
    var(--angle),
    var(--color-secondary),
    var(--color-primary),
    var(--color-dark),
    var(--color-dark)
  );
  background-size: 100%;
  transition: background 0.5s ease;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 45deg;
  inherits: true;
}
.about .image-wrapper:hover {
  --angle: 405deg;
}
.about .image-wrapper {
  transition: --angle 1s ease;
}
.about .image-wrapper .image-container::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 4px);
  height: calc(77% - 4px);
  background-color: var(--color-dark);
  z-index: 1;
  border-radius: 10px;
}
.about .image-wrapper .image-container img {
  width: 100%;
  object-fit: contain;
  object-position: bottom;
  position: relative;
  z-index: 2;
  margin: 0;
}
.about .image-wrapper .logo {
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 4px);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  font-family: Good Sans Regular;
  font-size: 12px;
  color: var(--color-light);
  text-shadow: var(--text-shadow);
  background: #000000b6;
  padding: 5px 0;
  border-radius: 10px;
  margin: 0;
}
.about .image-wrapper .logo img {
  width: 100px;
  margin: 0;
}
.about .image-wrapper .quote {
  font-family: Good Sans Regular;
  font-size: 13px;
  line-height: 150%;
  color: var(--color-light);
  text-shadow: var(--text-shadow);
  text-align: center;
  margin: 7px 0 0;
}

/* Footer Section */
.footer .scroller {
  width: 100%;
  padding: 10px 0;
  margin: auto;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
}
.footer .scroller .track {
  display: flex;
  width: calc(370px * 12);
  animation: scroll 50s linear infinite;
}
.footer .scroller .item {
  width: 370px;
  overflow: hidden;
  perspective: 100px;
  cursor: default;
  position: relative;
}
.footer .scroller .item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: var(--color-light);
}
.footer .scroller .item h6 {
  font-family: Good Sans Regular;
  font-size: 18px;
  text-align: center;
  color: var(--color-light);
  text-shadow: var(--text-shadow);
  margin-bottom: 0;
}
.footer .info-section {
  background-color: var(--color-dark);
  padding: 50px 0;
}
.footer .info-section p {
  font-family: Good Sans Regular;
  font-size: 18px;
  color: var(--color-light);
  text-shadow: var(--text-shadow);
}
.footer .info-section a {
  font-family: Good Sans Regular;
  color: var(--color-light);
  text-decoration: underline;
  text-shadow: var(--text-shadow);
  transition: all 0.5s ease;
}
.footer .info-section a:hover {
  color: var(--color-primary);
}
.footer .info-section .social {
  display: flex;
  gap: 10px;
}
.footer .info-section .social a {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid var(--color-light);
  border-radius: 5px;
  display: grid;
  place-items: center;
  transition: all 0.5s ease;
}
.footer .info-section .social a:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.footer .info-section .details img:first-child {
  width: 100%;
  max-width: 500px;
}
.footer .info-section .details p {
  font-family: Good Sans Regular;
  font-size: 18px;
  color: var(--color-light);
  text-shadow: var(--text-shadow);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
}
.footer .info-section .details p img {
  width: 130px;
}
.footer .info-section .text {
  width: 100%;
  max-width: 380px;
  margin: 0 0 0 auto;
}
.footer .cta-section {
  padding: 150px 0;
}
.footer .cta-section .dot:nth-child(1) {
  bottom: 100px;
  left: 100px;
  --color: var(--color-primary);
  --size: 20px;
  --animation: floatAlternate;
}
.footer .cta-section .dot:nth-child(2) {
  bottom: 160px;
  left: 150px;
  --color: var(--color-primary);
  --size: 10px;
  --animation: float;
}
.footer .cta-section .dot:nth-child(3) {
  bottom: 250px;
  left: 120px;
  --color: var(--color-primary);
  --size: 5px;
  --animation: floatAlternate;
}
.footer .cta-section .dot:nth-child(4) {
  top: 250px;
  right: 50px;
  --color: var(--color-secondary);
  --size: 20px;
  --animation: float;
}
.footer .cta-section .dot:nth-child(5) {
  top: 00px;
  right: 100px;
  --color: var(--color-secondary);
  --size: 20px;
  --animation: floatAlternate;
}
.footer .cta-section .dot:nth-child(6) {
  top: 50px;
  right: 200px;
  --color: var(--color-secondary);
  --size: 10px;
  --animation: float;
}
.footer .cta-section .dot:nth-child(7) {
  top: 100px;
  right: 150px;
  --color: var(--color-secondary);
  --size: 5px;
  --animation: floatAlternate;
}
.footer .community-partners {
  position: relative;
  padding: 150px 0 170px;
}
.footer .community-partners .logos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}
.footer .community-partners .logos .logo {
  width: 100%;
  max-width: 150px;
  height: 90px;
  background: #3d334f;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .community-partners .logos .logo img {
  width: 90%;
}
.footer .community-partners .dot:nth-child(1) {
  top: 100px;
  left: 150px;
  --color: var(--color-secondary);
  --size: 20px;
  --animation: float;
}
.footer .community-partners .dot:nth-child(2) {
  bottom: 100px;
  left: 120px;
  --color: var(--color-secondary);
  --size: 10px;
  --animation: float;
}
.footer .community-partners .dot:nth-child(3) {
  bottom: 80px;
  left: 150px;
  --color: var(--color-secondary);
  --size: 5px;
  --animation: float;
}
.footer .community-partners .dot:nth-child(4) {
  bottom: 140px;
  left: 200px;
  --color: var(--color-secondary);
  --size: 5px;
  --animation: float;
}
.footer .community-partners .dot:nth-child(5) {
  top: 150px;
  right: 100px;
  --color: var(--color-primary);
  --size: 20px;
  --animation: float;
}
.footer .community-partners .dot:nth-child(6) {
  bottom: 150px;
  right: 100px;
  --color: var(--color-primary);
  --size: 10px;
  --animation: float;
}
.footer .community-partners .dot:nth-child(7) {
  bottom: 170px;
  right: 70px;
  --color: var(--color-primary);
  --size: 5px;
  --animation: float;
}
.footer .community-partners .dot:nth-child(8) {
  bottom: 200px;
  right: 80px;
  --color: var(--color-primary);
  --size: 5px;
  --animation: float;
}

/* FAQ Section */
.faq-section {
  position: relative;
}
.faq-section .dot.dot-1 {
  top: 300px;
  left: 150px;
  --color: var(--color-secondary);
  --size: 20px;
  --animation: float;
}
.faq-section .dot.dot-2 {
  top: 400px;
  left: 100px;
  --color: var(--color-secondary);
  --size: 10px;
  --animation: float;
}
.faq-section .dot.dot-3 {
  top: 0;
  left: 50px;
  --color: var(--color-secondary);
  --size: 30px;
  --animation: float;
}
.faq-section .glow:nth-child(1) {
  top: -400px;
  left: -500px;
  --color: var(--color-secondary);
}
.faq-section .glow:nth-child(2) {
  top: -300px;
  right: -700px;
  --color: var(--color-primary);
}
.faq-section .glow:nth-child(3) {
  top: 300px;
  left: -500px;
  --color: var(--color-secondary);
}
.faq-section .glow:nth-child(4) {
  top: 400px;
  right: -700px;
  --color: var(--color-primary);
}
.faq-section .accordion-item {
  border-radius: 10px;
  overflow: hidden;
  outline: none;
  border: 0;
  background: var(--color-dark);
  padding: 2px;
}
.faq-section .accordion-item .accordion-button {
  font-family: Good Sans Regular;
  font-size: 18px;
  color: var(--color-light);
  text-shadow: var(--text-shadow);
  background-color: var(--color-dark);
  border: 0;
  outline: none;
  box-shadow: none;
  padding: 15px 15px;
  border-radius: 10px 10px 0 0;
  transition: none;
}
.faq-section .accordion-item .accordion-button.collapsed {
  border-radius: 10px;
  transition: none;
}
.faq-section .accordion-item-wrapper {
  margin-bottom: 15px;
  position: relative;
  padding: 2px;
  transition: all 0.5s ease;
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
  border-radius: 10px;
}
.faq-section .accordion-item-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: calc(100% + 10px);
  border-radius: 100%;
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
  z-index: -1;
  opacity: 0;
  filter: blur(7px);
  transition: all 0.5s ease;
}
.faq-section .accordion-item-wrapper:hover::before {
  opacity: 0.7;
}
.faq-section .accordion-item-wrapper:last-child {
  margin-bottom: 0;
}
.faq-section .accordion-button::after {
  display: none;
}
.faq-section .accordion-button {
  position: relative;
  padding-right: 3rem;
}
.faq-section .accordion-button::before {
  content: "";
  position: absolute;
  right: 1.25rem;
  width: 10px;
  height: 10px;
  border-right: 2px solid var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  transform: rotate(45deg);
  transition: transform 0.2s ease;
}
.faq-section .accordion-button:not(.collapsed)::before {
  transform: rotate(-135deg);
}
.faq-section .accordion-body {
  background-color: var(--color-dark);
  border-radius: 0 0 10px 10px;
}
.faq-section .accordion-body p {
  font-size: 18px;
  color: var(--color-light);
  opacity: 0.8;
}

/* Steps Section */
.steps-section .steps {
  padding: 10px 0;
  position: relative;
}
.steps-section .dot.dot-1 {
  top: 300px;
  right: 50px;
  --color: var(--color-primary);
  --size: 20px;
  --animation: floatAlternate;
}
.steps-section .dot.dot-2 {
  top: 400px;
  right: 100px;
  --color: var(--color-primary);
  --size: 10px;
  --animation: float;
}
.steps-section .dot.dot-3 {
  top: 200px;
  right: 100px;
  --color: var(--color-primary);
  --size: 40px;
  --animation: floatAlternate;
}
.steps-section .steps .item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 50px 0;
}
.steps-section .steps .item:first-child {
  margin-top: 0;
}
.steps-section .steps .item:last-child {
  margin-bottom: 0;
}
.steps-section .steps .item h6 {
  font-size: 16px;
  font-family: Good Sans Regular;
  color: var(--color-light);
  text-shadow: var(--text-shadow);
  width: 60px;
}
.steps-section .steps .item .icon-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.steps-section .steps .item .icon-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  filter: blur(10px);
  transition: all 0.5s ease;
  animation: scale 10s linear infinite;
}
.steps-section .steps .item .icon-wrapper:hover::before {
  opacity: 0.5;
}
.steps-section .steps .item .icon-wrapper::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 120%;
  background: linear-gradient(
    to bottom,
    var(--color-secondary),
    var(--color-primary)
  );
  opacity: 0.5;
}
.steps-section .steps .item:last-child .icon-wrapper:after {
  display: none;
}
.steps-section .steps .item .icon {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  background-color: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.steps-section .steps .item .icon img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  object-position: center;
}
.steps-section .steps .item .text {
  width: calc(100% - 180px);
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
  padding: 20px;
  min-height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: var(--box-shadow);
  z-index: 1;
}
.steps-section .steps .item .text h5 {
  font-size: 20px;
  font-family: Good Sans Bold;
  color: var(--color-light);
}
.steps-section .steps .item .text p {
  font-size: 18px;
  font-family: Good Sans Regular;
  color: var(--color-light);
}

/* Points Section */
.points-section .dot.dot-1 {
  top: 240px;
  left: 50px;
  --color: var(--color-secondary);
  --size: 5px;
  --animation: floatAlternate;
}
.points-section .dot.dot-2 {
  top: 300px;
  left: 50px;
  --color: var(--color-secondary);
  --size: 10px;
  --animation: float;
}
.points-section .dot.dot-3 {
  top: 200px;
  left: 100px;
  --color: var(--color-secondary);
  --size: 20px;
  --animation: floatAlternate;
}
.points-section .card {
  border: 0;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
  padding: 2px;
  height: 100%;
}
.points-section .card .card-body {
  background: var(--color-dark);
  border-radius: 10px;
  padding: 30px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  transition: all 0.5s ease;
}
.points-section .card:hover .card-body {
  background: transparent;
}
.points-section .card .card-body .icon {
  width: 50px;
  height: 50px;
  position: relative;
}
.points-section .card .card-body .icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  z-index: 1;
  transition: all 0.5s ease;
}
.points-section .card:hover .card-body .icon img:last-child {
  opacity: 0;
}
.points-section .card .card-body .text {
  flex: 1;
  border-radius: 10px;
}
.points-section .card .card-body .text h5 {
  font-size: 18px;
  font-family: Good Sans Regular;
  color: var(--color-light);
  margin-bottom: 7px;
}
.points-section .card .card-body .text h6 {
  font-size: 22px;
  font-family: Good Sans Bold;
  color: var(--color-light);
  margin-bottom: 15px;
}
.points-section .card .card-body .text p {
  font-size: 18px;
  font-family: Good Sans Light;
  color: var(--color-light);
}
.points-section .nav-pills .nav-link {
  background: #363636;
  padding: 2px;
  border-radius: 10px;
  color: var(--color-light);
  font-family: Good Sans Regular;
  font-size: 18px;
  text-shadow: var(--text-shadow);
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-width: 300px;
}
.points-section .nav-pills .nav-link.active {
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
}
.points-section .nav-pills .nav-link .wrapper {
  position: relative;
  background: var(--color-dark);
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.5s ease;
}
.points-section .nav-pills .nav-link.active .wrapper {
  background: transparent;
}
.points-section .nav-pills .nav-link .wrapper .icon {
  width: 40px;
  height: 40px;
  background-color: #363636;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
.points-section .nav-pills .nav-link.active .wrapper .icon {
  background: var(--color-secondary);
}
.points-section .nav-pills .nav-link .wrapper .icon i {
  font-size: 24px;
  color: var(--color-light);
}
.points-section .nav-pills .nav-link .wrapper .text {
  flex: 1;
  border-radius: 10px;
  text-align: left;
}
.points-section .nav-pills .nav-link .wrapper .text h5 {
  font-size: 18px;
  font-family: Good Sans Bold;
  color: var(--color-secondary);
  margin-bottom: 0;
  text-shadow: var(--text-shadow);
  transition: all 0.5s ease;
}
.points-section .nav-pills .nav-link.active .wrapper .text h5 {
  color: var(--color-light);
}
.points-section .nav-pills .nav-link .wrapper .text b {
  font-size: 14px;
  font-family: Good Sans Regular;
  color: var(--color-light);
  text-shadow: var(--text-shadow);
}

/* Responsive */
@media (max-width: 1200px) {
  .section {
    padding: 150px 0;
  }
  .heading {
    font-size: 30px;
  }
  .sub-heading {
    font-size: 20px;
  }
  .about {
    padding-top: 200px;
  }
  .about .partners .logos {
    gap: 30px;
  }
  .about .partners .logos img {
    height: 25px;
  }
  .points-section .card .card-body {
    gap: 15px;
    padding: 20px;
  }
  .points-section .card .card-body .icon {
    width: 50px;
    height: 50px;
  }
  .points-section .card .card-body .text h5 {
    font-size: 18px;
  }
  .points-section .card .card-body .text h6 {
    font-size: 20px;
  }
  .points-section .card .card-body .text p {
    font-size: 18px;
  }
}
@media (max-width: 920px) {
  .heading {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .g-5,
  .gx-5 {
    --bs-gutter-x: 0 !important;
  }
  .section {
    padding: 100px 0;
  }
  .heading {
    font-size: 24px;
    padding: 0 10px;
  }
  .sub-heading {
    font-size: 18px;
    padding: 0 10px;
  }
  .button {
    font-size: 12px;
    padding: 5px 10px;
  }
  .button-lg {
    font-size: 14px;
    padding: 7px 15px;
  }
  .navigation .navbar-brand {
    width: 100px;
  }
  .hero .gradient-border-badge::before {
    padding: 1px;
  }
  .hero .gradient-border-badge .content {
    font-size: 12px;
    padding: 5px 10px;
  }
  .hero .gradient-border-badge .content i {
    width: 10px;
    height: 10px;
  }
  .hero .gradient-border-badge .content span {
    font-size: 12px;
  }
  .hero .title {
    max-width: 100%;
    padding: 0 10px;
  }
  .hero .title p {
    font-size: 18px;
    gap: 5px;
  }
  .hero .title p img {
    width: 150px;
  }
  .hero .sub-heading {
    font-size: 18px;
    padding: 0 10px;
  }
  .hero .stats {
    gap: 5px;
  }
  .hero .stats .item span {
    font-size: 20px;
  }
  .about {
    padding-top: 350px;
  }
  .about .partners {
    padding: 10px 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .about .partners .title {
    max-width: 100%;
    border-right: 0;
    padding: 0 0 20px 0;
    margin: 0 0 0 0;
  }
  .about .partners .title img {
    width: 100px;
  }
  .about .partners h5 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .about .partners .items {
    width: 100%;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-left: 0;
    border-top: 1px solid #666666;
  }
  .about .partners .logos {
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    overflow: visible;
    justify-content: center;
    flex-direction: row !important;
    align-items: center !important;
  }
  .about .partners .logos img {
    height: 20px;
    flex: 0 0 calc(33.333% - 15px);
    max-width: calc(33.333% - 15px);
    text-align: center;
  }
  .about .partners .logos.logos-column {
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .about .partners .logos.logos-column img:nth-child(1) {
    height: 12px;
  }
  .about .partners .logos img:nth-child(4) {
    height: 25px;
  }
  .about .mobile-display {
    display: block;
  }
  .about .heading {
    text-align: center !important;
  }
  .about .row.g-5,
  .about .row.gx-5 {
    --bs-gutter-x: 30px !important;
  }
  .about .row.g-5.justify-content-center {
    justify-content: top !important;
  }
  .about .image-wrapper::after {
    top: 15px;
    left: -15px;
    width: 30px;
    height: 30px;
  }
  .about p {
    font-size: 18px;
  }
  .about .image-wrapper .quote {
    font-size: 12px;
  }
  .points-section .card .card-body {
    padding: 20px;
    gap: 15px;
  }
  .points-section .card .card-body .icon {
    width: 30px;
    height: 30px;
  }
  .points-section .card .card-body .text h5 {
    font-size: 18px;
  }
  .points-section .card .card-body .text h6 {
    font-size: 20px;
  }
  .points-section .card .card-body .text p {
    font-size: 18px;
  }
  .steps-section .steps .item {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .steps-section .steps .item h6 {
    font-size: 14px;
    position: absolute;
    top: 15px;
    left: 60px;
  }
  .steps-section .steps .item .icon-wrapper {
    width: 50px;
    height: 50px;
  }
  .steps-section .steps .item .icon-wrapper .icon {
    width: 45px;
    height: 45px;
  }
  .steps-section .steps .item .icon-wrapper img {
    width: 20px;
    height: 20px;
  }
  .steps-section .steps .item .text {
    width: 100%;
    height: 200px;
    position: relative;
  }
  .steps-section .steps .item .text h5 {
    font-size: 18px;
  }
  .steps-section .steps .item .text p {
    font-size: 16px;
  }
  .steps-section .steps .item .text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 25px;
    width: 1px;
    height: 120%;
    background: linear-gradient(
      to bottom,
      var(--color-secondary),
      var(--color-primary)
    );
    opacity: 0.5;
  }
  .steps-section .steps .item:last-child .text::after {
    display: none;
  }
  .faq-section .accordion-item .accordion-button {
    font-size: 18px;
  }
  .faq-section .accordion-item .accordion-button::after {
    font-size: 18px;
  }
  .faq-section .accordion-item .accordion-body p {
    font-size: 18px;
  }
  .mb-10 {
    margin-bottom: 50px;
  }
  .footer .scroller {
    padding: 10px 0;
  }
  .footer .scroller .item h6 {
    font-size: 18px;
  }
  .glow {
    display: none;
  }
  .dot {
    scale: 0.3;
  }
  .points-section .dot.dot-3 {
    left: 0;
  }
}
