@import "./root.css";

/* Navigation */
.navigation {
  background-color: var(--color-dark);
  padding: 20px 0;
}
.navigation .navbar-brand {
  width: 250px;
  display: inline-block;
}

/* Hero Section */
.hero {
  position: relative;
  min-height: calc(100vh - 91px);
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  z-index: 1;
}
.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: 1;
}
.hero .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  z-index: 2;
  padding: 50px 0;
}
.hero .title {
  position: relative;
  z-index: 1;
  text-align: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.hero .title img {
  width: 100%;
}
.hero .title p {
  font-family: Good Sans Light;
  font-size: 26px;
  text-align: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
}
.hero .title p img {
  width: 200px;
}
.hero .sub-heading {
  max-width: 768px;
  margin: 0 auto;
  font-family: Good Sans Regular;
  font-size: 22px;
}
.hero .stats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.hero .stats .item {
  padding: 2px;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .stats .item span {
  font-family: Good Sans Regular;
  font-size: 30px;
  color: var(--color-light);
  text-shadow: var(--text-shadow);
  background: var(--color-dark);
  padding: 5px 15px;
  border-radius: 10px;
}
.hero .gradient-border-badge {
  position: relative;
  display: inline-flex;
  border-radius: 50px;
  background: transparent;
  isolation: isolate;
  overflow: hidden;
}
.hero .gradient-border-badge::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 3px;
  background: linear-gradient(
    45deg,
    var(--color-primary),
    var(--color-secondary),
    var(--color-tertiary),
    var(--color-primary)
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: rotateGradient 3s linear infinite;
  z-index: 0;
}
.hero .gradient-border-badge .content {
  position: relative;
  background: transparent;
  padding: 10px 20px;
  border-radius: 48px;
  color: var(--color-light);
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1;
}
.hero .gradient-border-badge .content i {
  width: 15px;
  height: 15px;
  background: var(--color-secondary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: blink 1s linear infinite;
}
.hero .gradient-border-badge .content span {
  font-family: Good Sans Regular;
  font-size: 20px;
  color: var(--color-light);
  text-shadow: var(--text-shadow);
}

/* About Section */
.about {
  position: relative;
}
.about .dot.dot-1 {
  top: 200px;
  right: 50px;
  --color: var(--color-secondary);
  --size: 20px;
  --animation: floatAlternate;
}
.about .dot.dot-2 {
  top: 100px;
  right: 50px;
  --color: var(--color-secondary);
  --size: 10px;
  --animation: float;
}
.about .glow {
  top: -500px;
  right: -700px;
  --color: var(--color-primary);
}
.about p {
  font-family: Good Sans Regular;
  font-size: 22px;
}
.about .image-wrapper {
  position: relative;
  width: 100%;
  text-align: center;
}
.about .image-wrapper::after {
  content: "";
  position: absolute;
  top: 35px;
  left: -35px;
  width: 70px;
  height: 70px;
  background: var(--color-secondary);
  z-index: -1;
  border-radius: 50%;
  filter: blur(10px);
  opacity: 0.5;
  transition: all 0.5s ease;
}
.about .image-wrapper .image-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
}
.about .image-wrapper {
  --angle: 45deg;
}
.about .image-wrapper .image-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 77%;
  border-radius: 10px;
  z-index: 0;
  background: linear-gradient(
    var(--angle),
    var(--color-secondary),
    var(--color-primary),
    var(--color-dark),
    var(--color-dark)
  );
  background-size: 100%;
  transition: background 0.5s ease;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 45deg;
  inherits: true;
}
.about .image-wrapper:hover {
  --angle: 405deg;
}
.about .image-wrapper {
  transition: --angle 1s ease;
}
.about .image-wrapper .image-container::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 4px);
  height: calc(77% - 4px);
  background-color: var(--color-dark);
  z-index: 1;
  border-radius: 10px;
}
.about .image-wrapper .image-container img {
  width: 100%;
  object-fit: contain;
  object-position: bottom;
  position: relative;
  z-index: 2;
}
.about .image-wrapper img {
  width: 150px;
  margin: 20px auto 0;
}

/* Footer Section */
.footer .scroller {
  width: 100%;
  padding: 15px 0;
  margin: auto;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
}
.footer .scroller .track {
  display: flex;
  width: calc(400px * 12);
  animation: scroll 50s linear infinite;
}
.footer .scroller .item {
  width: 400px;
  overflow: hidden;
  perspective: 100px;
  cursor: default;
  position: relative;
}
.footer .scroller .item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: var(--color-light);
}
.footer .scroller .item h6 {
  font-family: Good Sans Regular;
  font-size: 22px;
  text-align: center;
  color: var(--color-light);
  text-shadow: var(--text-shadow);
}
.footer .info-section {
  background-color: var(--color-dark);
  padding: 100px 0;
}
.footer .info-section p {
  font-family: Good Sans Regular;
  font-size: 18px;
  color: var(--color-light);
  text-shadow: var(--text-shadow);
}
.footer .info-section a {
  font-family: Good Sans Regular;
  color: var(--color-light);
  text-decoration: underline;
  text-shadow: var(--text-shadow);
  transition: all 0.5s ease;
}
.footer .info-section a:hover {
  color: var(--color-primary);
}
.footer .info-section .social {
  display: flex;
  gap: 10px;
}
.footer .info-section .social a {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid var(--color-light);
  border-radius: 5px;
  display: grid;
  place-items: center;
  transition: all 0.5s ease;
}
.footer .info-section .social a:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.footer .info-section .details {
  text-align: right;
}
.footer .info-section .details img:first-child {
  width: 100%;
  max-width: 500px;
}
.footer .info-section .details p {
  font-family: Good Sans Regular;
  font-size: 18px;
  color: var(--color-light);
  text-shadow: var(--text-shadow);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
}
.footer .info-section .details p img {
  width: 130px;
}
.footer .cta-section .dot:nth-child(1) {
  bottom: 100px;
  left: 100px;
  --color: var(--color-primary);
  --size: 20px;
  --animation: floatAlternate;
}
.footer .cta-section .dot:nth-child(2) {
  bottom: 160px;
  left: 150px;
  --color: var(--color-primary);
  --size: 10px;
  --animation: float;
}
.footer .cta-section .dot:nth-child(3) {
  bottom: 250px;
  left: 120px;
  --color: var(--color-primary);
  --size: 5px;
  --animation: floatAlternate;
}
.footer .cta-section .dot:nth-child(4) {
  top: 250px;
  right: 50px;
  --color: var(--color-secondary);
  --size: 20px;
  --animation: float;
}
.footer .cta-section .dot:nth-child(5) {
  top: 00px;
  right: 100px;
  --color: var(--color-secondary);
  --size: 20px;
  --animation: floatAlternate;
}
.footer .cta-section .dot:nth-child(6) {
  top: 50px;
  right: 200px;
  --color: var(--color-secondary);
  --size: 10px;
  --animation: float;
}
.footer .cta-section .dot:nth-child(7) {
  top: 100px;
  right: 150px;
  --color: var(--color-secondary);
  --size: 5px;
  --animation: floatAlternate;
}

/* FAQ Section */
.faq-section {
  position: relative;
}
.faq-section .dot.dot-1 {
  top: 300px;
  left: 150px;
  --color: var(--color-secondary);
  --size: 20px;
  --animation: float;
}
.faq-section .dot.dot-2 {
  top: 400px;
  left: 100px;
  --color: var(--color-secondary);
  --size: 10px;
  --animation: float;
}
.faq-section .dot.dot-3 {
  top: 0;
  left: 50px;
  --color: var(--color-secondary);
  --size: 30px;
  --animation: float;
}
.faq-section .glow:nth-child(1) {
  top: -100px;
  left: -500px;
  --color: var(--color-secondary);
}
.faq-section .glow:nth-child(2) {
  top: 300px;
  right: -700px;
  --color: var(--color-primary);
}
.faq-section .accordion-item {
  border-radius: 10px;
  overflow: hidden;
  outline: none;
  border: 0;
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
  padding: 2px;
}
.faq-section .accordion-item .accordion-button {
  font-family: Good Sans Regular;
  font-size: 20px;
  color: var(--color-light);
  text-shadow: var(--text-shadow);
  background-color: var(--color-dark);
  border: 0;
  outline: none;
  box-shadow: none;
  border-radius: 10px;
  padding: 20px 20px;
}
.faq-section .accordion-item-wrapper {
  margin-bottom: 30px;
  position: relative;
}
.faq-section .accordion-item-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: calc(100% + 10px);
  border-radius: 100%;
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
  z-index: -1;
  opacity: 0;
  filter: blur(7px);
  transition: all 0.5s ease;
}
.faq-section .accordion-item-wrapper:hover::before {
  opacity: 0.7;
}
.faq-section .accordion-item-wrapper:last-child {
  margin-bottom: 0;
}
.faq-section .accordion-button::after {
  display: none;
}
.faq-section .accordion-button {
  position: relative;
  padding-right: 3rem;
}
.faq-section .accordion-button::before {
  content: "";
  position: absolute;
  right: 1.25rem;
  width: 10px;
  height: 10px;
  border-right: 2px solid var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  transform: rotate(45deg);
  transition: transform 0.2s ease;
}
.faq-section .accordion-button:not(.collapsed)::before {
  transform: rotate(-135deg);
}
.faq-section .accordion-body p {
  font-size: 20px;
}

/* Steps Section */
.steps-section .steps {
  padding: 10px 0;
  position: relative;
}
.steps-section .dot.dot-1 {
  top: 300px;
  right: 50px;
  --color: var(--color-primary);
  --size: 20px;
  --animation: floatAlternate;
}
.steps-section .dot.dot-2 {
  top: 400px;
  right: 100px;
  --color: var(--color-primary);
  --size: 10px;
  --animation: float;
}
.steps-section .dot.dot-3 {
  top: 200px;
  right: 100px;
  --color: var(--color-primary);
  --size: 40px;
  --animation: floatAlternate;
}
.steps-section .steps .item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 50px 0;
}
.steps-section .steps .item:first-child {
  margin-top: 0;
}
.steps-section .steps .item:last-child {
  margin-bottom: 0;
}
.steps-section .steps .item h6 {
  font-size: 20px;
  font-family: Good Sans Regular;
  color: var(--color-light);
  text-shadow: var(--text-shadow);
  width: 100px;
}
.steps-section .steps .item .icon-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.steps-section .steps .item .icon-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  filter: blur(10px);
  transition: all 0.5s ease;
  animation: scale 10s linear infinite;
}
.steps-section .steps .item .icon-wrapper:hover::before {
  opacity: 0.5;
}
.steps-section .steps .item .icon {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.steps-section .steps .item .icon img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  object-position: center;
}
.steps-section .steps .item .text {
  width: calc(100% - 260px);
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
  padding: 20px;
  min-height: 130px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: var(--box-shadow);
}
.steps-section .steps .item .text h5 {
  font-size: 22px;
  font-family: Good Sans Bold;
  color: var(--color-light);
}
.steps-section .steps .item .text p {
  font-size: 20px;
  font-family: Good Sans Regular;
  color: var(--color-light);
}

/* Points Section */
.points-section .dot.dot-1 {
  top: 240px;
  left: 50px;
  --color: var(--color-secondary);
  --size: 5px;
  --animation: floatAlternate;
}
.points-section .dot.dot-2 {
  top: 300px;
  left: 50px;
  --color: var(--color-secondary);
  --size: 10px;
  --animation: float;
}
.points-section .dot.dot-3 {
  top: 200px;
  left: 100px;
  --color: var(--color-secondary);
  --size: 20px;
  --animation: floatAlternate;
}
.points-section .card {
  border: 0;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
  padding: 2px;
  height: 100%;
}
.points-section .card .card-body {
  background: var(--color-dark);
  border-radius: 10px;
  padding: 50px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  transition: all 0.5s ease;
}
.points-section .card:hover .card-body {
  background: transparent;
}
.points-section .card .card-body .icon {
  width: 100px;
  height: 50px;
  position: relative;
}
.points-section .card .card-body .icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  z-index: 1;
  transition: all 0.5s ease;
}
.points-section .card:hover .card-body .icon img:last-child {
  opacity: 0;
}
.points-section .card .card-body .text {
  flex: 1;
  border-radius: 10px;
}
.points-section .card .card-body .text h5 {
  font-size: 22px;
  font-family: Good Sans Regular;
  color: var(--color-light);
  margin-bottom: 15px;
}
.points-section .card .card-body .text h6 {
  font-size: 26px;
  font-family: Good Sans Bold;
  color: var(--color-light);
  margin-bottom: 15px;
}
.points-section .card .card-body .text p {
  font-size: 22px;
  font-family: Good Sans Light;
  color: var(--color-light);
}

/* Stacking */
/* .steps {
  position: relative;
}
.steps .item {
  position: sticky;
  top: 120px;
  margin-bottom: 120px;
} */
