@import "./root.css";

/* Navigation */
.navigation {
  background-color: var(--color-dark);
  padding: 20px 0;
}
.navigation .navbar-brand {
  width: 250px;
  display: inline-block;
}

/* Hero Section */
.hero {
  background-color: var(--color-primary);
  min-height: calc(100vh - 91px);
}

/* About Section */
.about p {
  font-family: Good Sans Regular;
  font-size: 22px;
}
.about .object {
  position: relative;
  width: 100%;
  height: 100%;
}
.about .object img {
  width: 100%;
  object-fit: contain;
  object-position: bottom;
}
.about .object img:last-child {
  width: 100px;
}

/* Footer Section */
.footer .scroller {
  width: 100%;
  padding: 15px 0;
  margin: auto;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
}
.footer .scroller .track {
  display: flex;
  width: calc(400px * 12);
  animation: scroll 50s linear infinite;
}
.footer .scroller .item {
  width: 400px;
  overflow: hidden;
  perspective: 100px;
  cursor: default;
  position: relative;
}
.footer .scroller .item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: var(--color-light);
}
.footer .scroller .item h6 {
  font-family: Good Sans Regular;
  font-size: 22px;
  text-align: center;
  color: var(--color-light);
  text-shadow: var(--text-shadow);
}
@keyframes scroll {
  0% {
    transform: translateX(calc(-400px * 6));
  }
  100% {
    transform: translateX(0);
  }
}
.footer .info-section {
  background-color: var(--color-dark);
  padding: 100px 0;
}
.footer .info-section p {
  font-family: Good Sans Regular;
  font-size: 18px;
  color: var(--color-light);
  text-shadow: var(--text-shadow);
}
.footer .info-section a {
  font-family: Good Sans Regular;
  color: var(--color-light);
  text-decoration: underline;
  text-shadow: var(--text-shadow);
  transition: all 0.5s ease;
}
.footer .info-section a:hover {
  color: var(--color-primary);
}
.footer .info-section .social {
  display: flex;
  gap: 10px;
}
.footer .info-section .social a {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid var(--color-light);
  border-radius: 5px;
  display: grid;
  place-items: center;
  transition: all 0.5s ease;
}
.footer .info-section .social a:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.footer .info-section .details {
  text-align: right;
}
.footer .info-section .details img:first-child {
  width: 100%;
  max-width: 500px;
}
.footer .info-section .details p {
  font-family: Good Sans Regular;
  font-size: 18px;
  color: var(--color-light);
  text-shadow: var(--text-shadow);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
}
.footer .info-section .details p img {
  width: 130px;
}

/* FAQ Section */
.faq-section .accordion-item {
  border-radius: 10px;
  overflow: hidden;
  outline: none;
  border: 0;
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
  padding: 2px;
}
.faq-section .accordion-item .accordion-button {
  font-family: Good Sans Regular;
  font-size: 20px;
  color: var(--color-light);
  text-shadow: var(--text-shadow);
  background-color: var(--color-dark);
  border: 0;
  outline: none;
  box-shadow: none;
  border-radius: 10px;
  padding: 20px 20px;
}
.faq-section .accordion-item-wrapper {
  margin-bottom: 30px;
  position: relative;
}
.faq-section .accordion-item-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: calc(100% + 10px);
  border-radius: 100%;
  background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-primary)
  );
  z-index: -1;
  opacity: 0;
  filter: blur(10px);
  transition: all 0.5s ease;
}
.faq-section .accordion-item-wrapper:hover::before {
  opacity: 0.5;
}
.faq-section .accordion-item-wrapper:last-child {
  margin-bottom: 0;
}
.faq-section .accordion-button::after {
  display: none;
}
.faq-section .accordion-button {
  position: relative;
  padding-right: 3rem;
}
.faq-section .accordion-button::before {
  content: "";
  position: absolute;
  right: 1.25rem;
  width: 10px;
  height: 10px;
  border-right: 2px solid var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  transform: rotate(45deg);
  transition: transform 0.2s ease;
}
.faq-section .accordion-button:not(.collapsed)::before {
  transform: rotate(-135deg);
}
.faq-section .accordion-body p {
  font-size: 20px;
}
