@import "./root.css";

/* Navigation */
.navigation {
  background-color: var(--color-dark);
  padding: 20px 0;
}
.navigation .navbar-brand {
  width: 250px;
  display: inline-block;
}

/* Hero Section */
.hero {
  background-color: var(--color-primary);
  min-height: calc(100vh - 91px);
}

/* About Section */
.about p {
  font-family: Good Sans Regular;
  font-size: 22px;
}
.about .object {
  position: relative;
  width: 100%;
  height: 100%;
}
.about .object img {
  width: 100%;
  object-fit: contain;
  object-position: bottom;
}
.about .object img:last-child {
  width: 100px;
}
